body {
  color: white;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/fonts/main_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    padding-left: 5%;
    font-size: 3em;
}

header h2 {
    padding-left: 5%;
    font-size: 2em;
    text-align: right;
    padding-right: 2%;
    padding-top: 2%;
}

main{
  background-color: rgba(0, 0, 0, 0.5);
}

aside>h2 {
  text-align: center;
}

nav ul {
  list-style: none;
}

.nav-lien {
  background-color: #f0ede6;
  color: #1c1c26;
  align-items: end;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
  width: 50%;
  margin: 4%;
}

.nav-lien.actif,
.nav-lien:hover {
  background-color: #1c1c26;
  color: #f0ede6;
}
.nav-externe {
  background-color: #1c1c26;
  color: #f0ede6;
  text-decoration: none;
  font-size: 1em;
  border-radius: 10px;
}

button[type="button"] {
  background-color: #f0ede6;
  color: #1c1c26;
  border: none;
  border-radius: 10px;
  padding: 10px 24px;
  margin-left: 20%;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin: 2%;
}

button[type="button"]:hover {
  background-color: #1c1c26;
  color: #f0ede6;
}

textarea[readonly],
input[readonly] {
  background-color: rgb(184, 184, 184);
  border: 1px solid rgba(240, 237, 230);
  color: rgba(0, 0, 0);
  cursor: not-allowed;
}

.champ-erreur,
input[type="number"].champ-erreur {
  border: 2px solid red !important;
  outline: none;
}

